-#  This file is app/views/movies/index.html.haml
%h1 Similiar movies for "#{@movie.title}"

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Director 
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= movie.director

= link_to 'Back to movies list', movies_path
